@model FoodApp.BLL.Models.ViewMenuVM

@{
    ViewData["Title"] = "Tachie nke bu Osa";
}
    <!-- Carousel Start -->
    <div class="carousel">
        <div class="container-fluid">
            <div class="owl-carousel">
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="~/images/image1.png" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1>Best <span>Quality</span> Ingredients</h1>
                        <p>
                        We serve foods rich in Protein, Vitamins, Energy-giving and Less Calories. Our ingredients are naturally made and contains lesser preservatives.  
                        </p>
                        <div class="carousel-btn">
                            <a class="btn custom-btn" asp-page="/Views/Home/Index.cshtml" asp-fragment="Menu">View Menu</a>
                            <a class="btn custom-btn" asp-page="/Views/Home/Index.cshtml" asp-fragment="Contact">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="~/images/carousel-2.jpg" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1>World’s <span>Best</span> Chef</h1>
                        <p>
                        Our Chefs are World Class! Well trained in top universities in Nigeria in Food and Nutrition.    
                        </p>
                        <div class="carousel-btn">
                            <a class="btn custom-btn" asp-page="/Views/Home/Index.cshtml" asp-fragment="Menu">View Menu</a>
                        <a class="btn custom-btn" asp-page="/Views/Home/Index.cshtml" asp-fragment="Contact">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="~/images/carousel-3.jpg" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1>Fastest Order <span>Delivery</span></h1>
                        <p>
                        We deliever fast and quick. For you Home Delivery, Contact us.    
                        </p>
                        <div class="carousel-btn">
                            <a class="btn custom-btn" asp-page="/Views/Home/Index.cshtml" asp-fragment="Menu">View Menu</a>
                        <a class="btn custom-btn" asp-page="/Views/Home/Index.cshtml" asp-fragment="Contact">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->
    
    <!-- Feature Start -->
    <div class="feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-header">
                        <p>Why Choose Us</p>
                        <h2>Our Key Features</h2>
                    </div>
                    <div class="feature-text">
                        <div class="feature-img">
                            <div class="row">
                                <div class="col-6">
                                    <img src="~/images/feature-1.jpg" alt="Image">
                                </div>
                                <div class="col-6">
                                    <img src="~/images/feature-2.jpg" alt="Image">
                                </div>
                                <div class="col-6">
                                    <img src="~/images/feature-3.jpg" alt="Image">
                                </div>
                                <div class="col-6">
                                    <img src="~/images/feature-4.jpg" alt="Image">
                                </div>
                            </div>
                        </div>
                        <p>
                        We serve foods rich in Protein, Vitamins, Energy-giving and Less Calories. Our ingredients are naturally made and contains lesser preservatives.
                        Our Chefs are World Class! Well trained in top universities in Nigeria in Food and Nutrition.
                        We deliever fast and quick. For you Home Delivery, Contact us.
                    </p>
                    <a class="btn custom-btn" asp-page="/Views/Home/Index.cshtml" asp-fragment="Contact">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature-item">
                                <i class="flaticon-cooking"></i>
                                <h3>World’s best Chef</h3>
                                <p>
                                Our Chefs are World Class! Well trained in top universities in Nigeria in Food and Nutrition.
                            </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature-item">
                                <i class="flaticon-vegetable"></i>
                                <h3>Natural ingredients</h3>
                                <p>
                                We serve foods rich in Protein, Vitamins, Energy-giving and Less Calories. Our ingredients are naturally made and contains lesser preservatives.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature-item">
                                <i class="flaticon-medal"></i>
                                <h3>Best quality products</h3>
                                <p>
                                We serve foods rich in Protein, Vitamins, Energy-giving and Less Calories. Our ingredients are naturally made and contains lesser preservatives.
                            </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature-item">
                                <i class="flaticon-meat"></i>
                                <h3>Fresh vegetables & Meat</h3>
                                <p>
                                Fresh Vegetables and Meat Highly rich in Vitamins and less calories.    
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature-item">
                                <i class="flaticon-courier"></i>
                                <h3>Fastest door delivery</h3>
                                <p>
                                We deliever fast and quick. For you Home Delivery, Contact us.   
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature-item">
                                <i class="flaticon-fruits-and-vegetables"></i>
                                <h3>Ground beef & Low fat</h3>
                                <p>
                                   Best quality and soft ground beef with low fat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->
    
    <!-- Menu Start -->
    <section id="Menu">
    <div class="menu">
        <div class="container">
            <div class="section-header text-center">
                <p>Food Menu</p>
                <h2>Delicious Food Menu</h2>
            </div>
            <div class="menu-tab">
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#FastFood">Fast Food</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#snacks">Snacks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#beverages">Beverages</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="FastFood" class="container tab-pane active">
                        <div class="row">
                            <div class="col-lg-7 col-md-12">
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/image2.png" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                        <h3><span>Party Jellof Rice</span> <strong>N2500</strong></h3>
                                        <p>Delicious Party Jellof Rice and Chicken, specially garnished for you.</p>
                                    </div>
                                </div>
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/image3.png" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                        <h3><span>Ogbono Soup with Semo</span> <strong>N2000</strong></h3>
                                        <p>Specially made Ogbono Soup with soft fufu.</p>
                                    </div>
                                </div>
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/image4.png" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                        <h3><span>Fried Yam with Egg Sauce</span> <strong>N1000</strong></h3>
                                        <p>Spicy Egg Sauce with Fried Yam</p>
                                    </div>
                                </div>
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/image5.png" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                            <h3><span>Swallow With Egusi Soup</span> <strong>N2500</strong></h3>
                                            <p>Specially made Egusi Soup with soft garri</p>
                                    </div>
                                </div>
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/image6.png" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                        <h3><span>Beans and Plaintain</span> <strong>N800</strong></h3>
                                        <p>Delicious and Oily Beans and Plaintain</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 d-none d-lg-block">
                                <img src="~/images/image7.png" alt="Image">
                            </div>
                        </div>
                    </div>
                    <div id="snacks" class="container tab-pane fade">
                        <div class="row">
                            <div class="col-lg-7 col-md-12">
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/menu-snack.jpg" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                        <h3><span>Corn Tikki - Spicy fried Aloo</span> <strong>$15.00</strong></h3>
                                        <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                                    </div>
                                </div>
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/menu-snack.jpg" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                        <h3><span>Bread besan Toast</span> <strong>$35.00</strong></h3>
                                        <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                                    </div>
                                </div>
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/menu-snack.jpg" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                        <h3><span>Healthy soya nugget snacks</span> <strong>$20.00</strong></h3>
                                        <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                                    </div>
                                </div>
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/menu-snack.jpg" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                        <h3><span>Tandoori Soya Chunks</span> <strong>$30.00</strong></h3>
                                        <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 d-none d-lg-block">
                                <img src="~/images/menu-snack-img.jpg" alt="Image">
                            </div>
                        </div>
                    </div>
                    <div id="beverages" class="container tab-pane fade">
                        <div class="row">
                            <div class="col-lg-7 col-md-12">
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/menu-beverage.jpg" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                        <h3><span>Single Cup Brew</span> <strong>$7.00</strong></h3>
                                        <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                                    </div>
                                </div>
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/menu-beverage.jpg" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                        <h3><span>Caffe Americano</span> <strong>$9.00</strong></h3>
                                        <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                                    </div>
                                </div>
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/menu-beverage.jpg" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                        <h3><span>Caramel Macchiato</span> <strong>$15.00</strong></h3>
                                        <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                                    </div>
                                </div>
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/menu-beverage.jpg" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                        <h3><span>Standard black coffee</span> <strong>$8.00</strong></h3>
                                        <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                                    </div>
                                </div>
                                <div class="menu-item">
                                    <div class="menu-img">
                                        <img src="~/images/menu-beverage.jpg" alt="Image">
                                    </div>
                                    <div class="menu-text">
                                        <h3><span>Standard black coffee</span> <strong>$12.00</strong></h3>
                                        <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 d-none d-lg-block">
                                <img src="~/images/menu-beverage-img.jpg" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- Menu End -->
    
      
    <!-- Testimonial Start -->
    <div class="testimonial">
        <div class="container">
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="~/images/testimonial-1.jpg" alt="Image">
                    </div>
                    <p>
                        Tachie Nke bu Osa Restaurant is the best ever here in Enugu. Trust them for great quality foods.
                    </p>
                    <h2>Amaka</h2>
                    <h3>Software Engineer</h3>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="~/images/testimonial-2.jpg" alt="Image">
                    </div>
                    <p>
                        I recommend them for their fast home delivery. Well prepared and delicious food always.
                    </p>
                    <h2>Joshua</h2>
                    <h3>Doctor</h3>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="~/images/testimonial-3.jpg" alt="Image">
                    </div>
                    <p>
                        Highly trained chefs working at Tachie Nke bu Osa Restaurant are world class. I highly recommend.
                    </p>
                    <h2>Stan Nze</h2>
                    <h3>SA to Governor</h3>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="~/images/testimonial-4.jpg" alt="Image">
                    </div>
                    <p>
                        I trust them when it comes to serving well prepared and chilled beverages
                    </p>
                    <h2>Pastor Kendrick</h2>
                    <h3>WTC Church, Enugu</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Contact Start -->
    <section id="Contact">
    <div class="contact">
        <div class="container">
            <div class="section-header text-center">
                <p>Contact Us</p>
                <h2>Contact For Your Order and Enquiry</h2>
            </div>
            <div class="row align-items-center contact-information">
                <div class="col-md-6 col-lg-3">
                    <div class="contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <div class="contact-text">
                            <h3>Address</h3>
                            <p>51 Monaque, Ugwuaji, Enugu.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>
                        <div class="contact-text">
                            <h3>Call Us</h3>
                            <p>+234 907 168 8547</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="contact-text">
                            <h3>Email Us</h3>
                            <p>TachieOsa@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-share"></i>
                        </div>
                        <div class="contact-text">
                            <h3>Follow Us</h3>
                            <div class="contact-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    </section>
    <!-- Contact End -->
    

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


